<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>$title$</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    $mathjax$

<link href='http://fonts.googleapis.com/css?family=Lekton:400,700|Source+Sans+Pro|Source+Code+Pro|Alegreya:400italic,700italic,400,700|Alegreya+SC:400,700,700italic|Molengo' rel='stylesheet' type='text/css'>

    <style>
      body {	
        font-family: "Alegreya", Georgia, serif;
        font-size: 18px;
	margin: 1em 0;
	font-weight: normal;
	font-style: normal;
      }

      svg {	
        font-family: sans-serif;
        font-size: 12px;
	margin: 1em 0;
	font-weight: normal;
	font-style: normal;

      }

      body { margin-top: 80px; }
    </style>


    <link href="../bookwormD3/css/bookworm.css" rel="stylesheet">

    <script src="../bookwormD3/js/d3.v3.min.js"></script>
    <script src="../bookwormD3/js/pca.js"></script>
    <script src="../bookwormD3/js/colorbrewer.js"></script>
    <script src="../bookwormD3/js/beautify.js"></script>
    <script src="../bookwormD3/js/topojson.v1.min.js"></script>
    <script src="../bookwormD3/js/d3-svg-legend.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/holder.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../bookwormD3/js/colorbar.js"></script>
    <script type="text/javascript" src="../bookwormD3/js/bookworm.js"></script>





<script>
// A special function to build elaborate tabbed displays for data.
// Find all divs classed "bookworm2," and use the "code" block inside them
// as a the query for a new tabbed bookworm plot.

// Actually used!

// Unlike most Bookworm code, this requires both D3 **and** JQuery.

function tabulate(selection,data) {

    //clear out any existing tables
    var tables = selection.selectAll(".dataTables_wrapper").remove()
    // Create a new table.
    var table = selection
         .append("table")
         .attr("cellpadding",0)
         .attr("cellspacing",0)
         .attr("border",0)
         .attr("class","display")
         .attr("id","test")

    // Initalize a dataTable using the keys; this requires first. recasting the data a bit.
     var keys    = d3.keys(data[0])
     var columns = keys.map(function(key) {return {"title":key}})
     var data = data.map(function(row) {
          return keys.map(function(key) {return row[key]})
     })

    $$(table[0]).DataTable( {
        "data": data,
        "columns": columns
     })
}


updateBookworms = function() {
     var divs = d3.selectAll(".bookworm2")

     divs.each(function(d,i) {

       // For each bookworm div, find the internal code blocks that contain
       // a JSON text we use to initialize the queries.

       var selector = d3.select(this)
       var codeBlock = selector.selectAll("code")
       var code=d3.select(this).selectAll("code").text()
       var bworm = Bookworm(JSON.parse(code))

       // Tell the bookworm not to update the address bar.
       bworm.silent = true


       // Bind a bookworm element to the node for programmatic access (so that
       // user-defined javascript can update things).
       this.__bookworm__ = bworm

       // The default items that can also be specified in the code block.
       var width = selector.attr("width") || d3.min([window.innerWidth*.8,640])
       var height = selector.attr("height") || d3.min([window.innerHeight*.8,480])

       // Which of the tabs should be chosen by default.
       var defaultView = selector.attr("default") || "SVG"

       // Automatically set by Hakyll as a SHA1 hash of the query;
       // used as a storage location for images and data.
       var hashcode = selector.attr("hashcode")


       // Allows accessing the elements programatically in your blog post.
       var id = selector.attr("id") || hashcode
       selector.attr("id",id)

       //Create a list of tabs

       var panel = selector.append("div").attr("role","tabpanel")
       var tablist = panel.append("ul").attr("class","nav nav-tabs").attr("role","tablist")
       var tabData = [
                       {"name":"SVG","description":"Interactive SVG"},
                       {"name":"image","description":"Archival Static Image"},
                       {"name":"data","description":"Raw Data"},
                       {"name":"code","description":"Bookworm Query"}
                     ]

       var tabs = tablist.selectAll("li").data(tabData)

       tabs.enter()
           .append("li").attr("role","presentation")
             .classed("active",function(d,i) {return d.name==defaultView})
           .append("a")
             .attr("href",function(d) {return "#" + d.name + i})
             .attr("aria-controls",function(d) {return d.name + i}).attr("role","tab")
             .attr("data-toggle","tab").text(function(d) {return d.description})

       divs = panel.append("div").attr("class","tab-content").selectAll("div").data(tabData)


       divs
           .enter()
           .append("div").attr("role","tabpanel").attr("class","tab-pane")
           .classed("active",function(d) {return d.name==defaultView})
           .attr("id",function(d) {return d.name + i})
           .each(function(d) {
               if (d.name=="SVG") {
                  var svg_div = d3.select(this)
                  var selectionOptions = svg_div.append("div").attr("class","selectionOptions")
                  var svgID = "SVG-n" + i 
                  var svg = svg_div.append("svg")
                            .attr("width",width).attr("height",height)
                            .attr("id",svgID)
                  svg
                            .append("text")
                            .attr("x","15")
                            .attr("y",24)
                            .style("font-size",24)
                            .text("Mouseover to load chart")

                  // Some kind of on-visibility would make a **lot** of sense here.
                  var nothing = function() {}
                  svg.on("mouseover",function() {
                    svg.selectAll("text").remove()
                    bworm(svg)
                    svg.on('mouseover',"")
                    svg.on('click',"")
                  })

                  svg.on("click",function() {
                       svg.selectAll("text").remove()
                       bworm(svg)
                       svg.on('click',function() {})
                  })
                  if (selector.attr("filters")) {
                      var prefs = {}
                      selector.attr("filters").split(";").forEach(function(pair) {
                        splat = pair.split(":")
                        prefs[splat[0]] = splat[1]
                      })
                      setTimeout(function() {bworm.addFilters(prefs,selectionOptions)},1000)
                  }
               }
               if (d.name=="image") {
                  var image_div = d3.select(this)
                  image_div.append("img").attr("src","../images/"+hashcode+".png")
               }

               if (d.name=="data") {
                  var data_div = d3.select(this).append("div")
                  data_div.append("text").text("Click this button below to show the data currently underlying the interactive chart.")
                  data_div.append("text").text("If the chart isn't showing, there will be no data here. If you have updated the chart, you may need to click again to get the latest data")
                  var button = data_div.append("button").text("Update data")
                  button.on("click",function() {
                     data_div.selectAll("pre").remove()
                     tabulate(data_div,bworm.data)
                   })
               }
               if (d.name=="code") {
                 $$(selector.selectAll("pre").node()).appendTo(this)
               }
            })


    })
//     div.node().__bookworm__ = bworm
}

</script>


  </head>
  <body onload="updateBookworms()">
    $partial("templates/nav.html")$

    <div class="container">
      <h2>$title$</h2>
      <p>$author$, $date$</p>

      $body$


      <div id="disqus_thread"></div>

      $partial("templates/footer.html")$
    </div>



</div><!-- /.container -->



<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'benmschmidt';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


</body>
</html>
